<h3>Books</h3>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      
    
    </tbody>
  </table>

<h4>New Book</h4>
<%= form_with model: @book, url: books_path do |f| %>
  <%= f.hidden_field :book %>
  <p>Title</p>
  <%= f.text_field :title %>
	
  <p>Body</p>
  <%= f.text_area :body %>
	
  <p>
  <%= f.submit 'Create Book' %>
  <p/>
<% end %>

